<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>849811725670-v7pjacb4srnh16vjismh30uih2svq46d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849811725670-v7pjacb4srnh16vjismh30uih2svq46d</string>
	<key>API_KEY</key>
	<string>AIzaSyDafTEfMyXMAv4ZE-pdnO0sR2Uzotyxnt0</string>
	<key>GCM_SENDER_ID</key>
	<string>849811725670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akitodaiki.SignInUsingGoogle</string>
	<key>PROJECT_ID</key>
	<string>dcodeevent</string>
	<key>STORAGE_BUCKET</key>
	<string>dcodeevent.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849811725670:ios:26d2ee55f0406a97d33ca7</string>
</dict>
</plist>